.banner
{
    background-image: url(./images/Mask\ Group.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    padding-top: 143px;
    padding-bottom: 241.84px;
}
.banner::before
{
    content: "";
    position: absolute;
    background: linear-gradient(180deg, var(--patrickblue) 0%, var(--darkimperialblue) 99.31%);
    bottom: 0;
    top: 0;
    left: 0;
    width: 50%;
    z-index: -1;
 }

 .banner-body
 {
    max-width: 784px;
 }
 .banner-heading
{
    margin-bottom: 30px;
    color: var(--white);
}
.banner-heading h1 span
{
    color: var(--bluejeans);
}
.banner-cont
{
    max-width: 559px;
    color: var(--white);
    text-transform: capitalize;
    margin-bottom: 40px;
}
.banner-btn
{
    display: flex;
    flex-wrap: wrap;
   align-content: center;
}
.banner-btn-one {
    margin-right: 2.296%;
}
.banner-time-card
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.banner-card
{
    display: flex; 
    flex-wrap: wrap;
    justify-content:flex-start;
    align-content: center;
    align-items: center; 
    flex-basis:  31.454%;
    background-color: var(--white);
    border-radius: 10px;
    padding-top: 36px;
    padding-bottom: 41px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.clock-time
{
    flex-basis: 30%;
}
.banner-card:not(:last-child)
{
    margin-right: 2.736%;
}
.icon-btn i
{
    font-size: 24px;
}
.clock-time {
    flex-basis: 50.818%;
}
.loc-desc {
    flex-basis: 64.98%;
}
.tele-icon,.clock-icon,.loc-icon
{
    margin-right: 5.44%;
    margin-left:6.6%;
}
.banner-time {
    position: relative;
    bottom: -176px;
    transform: translate(0%, 100%);
}