.banner
{
    background-image: url(./images/Mask\ Group.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    position: relative;
    z-index: 1;
    margin-bottom: 230px;
}
.banner::before
{
    content: "";
    position: absolute;
    background: linear-gradient(180deg, var(--patrickblue) 0%, var(--darkimperialblue) 99.31%);
    bottom: 0;
    top: 0;
    left: 0;
    width: 50%;
    z-index: -1;
 }
 .overlay
 {
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 background-color: var(--black);
 opacity: 30%;
 z-index: -1;
 }
 .social-icon
 {
    display: block;
    flex-direction: column;
    position: absolute;
    bottom: 50%;
    transform: translate(50%,-50%);
    z-index: 1;
    margin-left: 20px;
}
 .social-icon a
 {
    color: var(--white);
    font-size: 22px;
    transition: .3s ease-in-out;
 }
 .social-icon a:hover
 {
    color:var(--feiryrose);
 }
 .icon 
 {
    margin-bottom: 15px;
 }
 .banner-body
 {
    padding-top: 143px;
    padding-bottom: 236.84px;
 }
 .banner-heading
{
    max-width: 784px;
    margin-bottom: 30px;
    color: var(--white);
}
.banner-heading h1 span
{
    color: var(--bluejeans);
}
.banner-cont
{
    max-width: 559px;
    color: var(--white);
    text-transform: capitalize;
    margin-bottom: 40px;
}
.banner-btn
{
    display: flex;
    flex-wrap: wrap;
   align-content: center;
}
.banner-btn-one {
    margin-right: 2.296%;
}
.banner-time-card
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.banner-card
{
    display: flex; 
    flex-wrap: wrap;
    justify-content:flex-start;
    align-content: center;
    align-items: center; 
    flex-basis:  31.454%;
    background-color: var(--white);
    border-radius: 10px;
    padding-top: 36px;
    padding-bottom: 41px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: relative;
    z-index: 1;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.clock-time
{
    flex-basis: 30%;
}
.banner-card:not(:last-child)
{
    margin-right: 2.736%;
}
.icon-btn i
{
    font-size: 24px;
}
.clock-time {
    flex-basis: 50.818%;
}
.loc-desc {
    flex-basis: 64.98%;
}
.tele-icon,.clock-icon,.loc-icon
{
    margin-right: 9.25%;
    margin-left:6.6%;
}
.banner-time {
    position: relative;
    bottom: -131px;
    transform: translate(0%, -50%);
}
.tele-num p:nth-child(2),.clock-time p:nth-child(2)
{
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
    line-height: 17px;
}
.tele-num p,.clock-time p,.loc-desc p
{
    line-height: 19px;
}
.tele-num p a
{
    color: var(--black);
}
.banner-card:hover
{
    border-left-width: 10px ;
    border-left-color: var(--bluejeans);
    border-left-style: solid;
}
/* BANNER ENDS */
/* ABOUT US STARTS */
.equipment-card
{
    margin-bottom: 122px;
}
.about-us-card
{
    display: flex;
    justify-content: center;
    align-content: center;
}
.about-us-right
{
    background-image: url(./images/Image.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 665.37px;
    width: 100%;
}
.about-us-right { 
    flex-basis: 52.895%;
    margin-top: 93px;
    margin-right: 4.8%;
    margin-bottom: -400px;
    position: relative;
    z-index: 2;
}
.about-us-left {
    flex-basis: 44%;
    margin-right: 9.403%;
}
.about-us-heading
{
    margin-bottom: 14.83px;
    position: relative;
    z-index: 1;
}
.about-us-heading::before
{
    position: absolute;
    z-index: 1;
    content: "";
    background-image: url(./images/L-shape.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 75px;
    width: 65px;
    top: 0;
    bottom: 0;
    left: 240%;
    transform: scaleX(-1);
}
.about-us-heading h2
{
    color: var(--darkimperialblue);
    padding-left: 15px;
}
.about-us-heading h2 span
{
    color: var(--bluejeans);
}
.about-us-cont
{
    color: var(--GraniteGray);
    max-width: 450px;
    text-transform: capitalize;
    position: relative;
    z-index: 1;
}
.about-us-cont::before
{
    position: absolute;
    content: "";
    background-image: url(./images/L-shape.svg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 185%;
    width: 47px;
    height: 54px;
}
.about-us-cont p
{
    font-weight: 400;
}
.equipment-card
{
    position: relative;
    z-index: 1;
}
.equipment-card::after
{
    content: "";
    position: absolute;
    background: var(--AliceBlue);
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 55.71%;
    border-radius: 10px;
    z-index: -1;
}
.equpiment-body 
{
    padding: 40px 0 140px;
    margin-left: 6.838%;
}
.equipment-heading
{
    max-width: 302px;
    margin-bottom: 30.24px;
    color: var(--darkimperialblue);
}
.equipment-card::before
{
    content: "";
    position: absolute;
    z-index: 1;
    background-image: url(./images/L2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 21px;
    min-height: 22px;
    right: 19.7%;
    top: -4%;
    transform: scale(-1);
}
.equipment-cont
{
    max-width: 392px;
    color: var(--GraniteGray);
}
.equipment-card.content-wrapper
{
    position: relative;
    z-index: 1;
}
.equipment-card .content-wrapper::before
{
    content: "";
    position: absolute;
    z-index: 1;
    background-image: url(./images/L2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 21px;
    min-height: 22px;
    bottom:43px;
}
.equipment-card .content-wrapper::after
{
    content: "";
    position: absolute;
    z-index: 1;
    background-image: url(./images/bluedash.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 319px;
    min-height: 17px;
    bottom:70px;
    right:24%;
    opacity: 0.5;
}
/* ABOUT US ENDS */
/* WHY US STARTS */
.why-us
{
    margin-bottom: 135px;
}
.whyus-header 
{
    text-align: center;
    margin-left: 45px;
    writing-mode:vertical-rl;
    transform:scale(-1);
    color: var(--white);
    padding-bottom: 99px;
    /* padding-top: 113px; */
    position: relative;
    z-index: 1;
}
.whyus-header::before
{   
    position: absolute;
    content: "";
    border-bottom: 4px solid var(--bluejeans);
    width: 94px;
    transform: rotate(90deg);
    bottom: 44px;
    left: -30px;
}
.whyus-header span
{
    color: var(--bluejeans);
}
.whyus-left
{
    background: linear-gradient(180deg, var(--patrickblue) 0%, var(--darkimperialblue) 99.31%);
    border-radius: 10px;
    flex-basis: calc(24% - 12px);
    margin-right: 12px;
}
.whyus-right {
    flex-basis: 74.958%;
}
.whyus-cards
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.wu-card
{
    flex-basis: 22.01%;
    border-radius: 10px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
    transition: .3s all ease-in-out;
}
.wu-card:hover
{
    transform: translateY(-20px);
}
.wu-card:not(:last-child) 
{
    margin-right: 3.65%;
}
.whyus-body
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.wu-body {
    padding: 40px 17px;
}
.wuc-icon
{
    margin-bottom: 14px;
}
.wuc-header,.wucb-header
{
    margin-bottom: 9px;
    color: var(--darkimperialblue);
}
.wuc-cont,.wucb-cont
{
    color: var(--GraniteGray);
}
.wucb-cont
{
    margin-bottom: 20px;
}
.wuc-cont p,.wucb-cont p
{
    font-size: 14px;
    font-weight: 400;
}
.whyus-cards
{
    margin-bottom: 30px;
}
.wuc-body {
    max-width: 726px;
    margin-left: 54px;
    margin-right: 87px;
    padding-top: 38px;
    padding-bottom: 34px;
}
.whyus-cont
{
    position: relative;
    z-index: 1;
}
.whyus-cont::before
{
    position: absolute;
    z-index: 1;
    content: "";
    background-image: url(./images/L2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 21px;
    height: 22px;
    transform: scaleY(-1); 
    top: 10px;
    left: 10px;
    opacity: .1;
}
.whyus-cont::after  
{
    position: absolute;
    z-index: 1;
    content: "";
    background-image: url(./images/L2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 21px;
    height: 22px;
    transform: scaleX(-1);
    right: 10px;
    bottom: 10px;
    opacity: .1;
}
.wucb-btn
{
    position: relative;
    z-index: 1;
}
.wucb-btn::before
{
    position: absolute;
    z-index: 1;
    content: "";
    background-image: url(./images/bluedash.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width:289px;
    min-height: 17px;
    right: -13.5%;
    bottom: 15px;
    transform: scaleY(-1);
}
/* WHY US ENDS */

/* SERVICES STARTS */
.services
{
background-color: var(--AliceBlue);
}
.services .content-wrapper
{
    max-width: 1139px;
    padding: 0 20px;
    margin: 0 auto;
    padding-top: 172px;
    padding-bottom: 128px;
    position: relative;
    z-index: 1;
}
.service-body
{
    position: relative;
    z-index: 1;
}
.service-body::before
{
    content: "";
    position: absolute;
    z-index: 1;
    background-image: url(./images/L-shape.svg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 10px;
    right: 0;
    width: 88px;
    min-height: 88px;
    transform: scaleX(-1);
}
.service-body::after
{
    content: "";
    position: absolute;
    z-index: 1;
    background-image: url(./images/L-shape.svg);
    background-repeat: no-repeat;
    background-size: cover;
    bottom:-65px;
    left: 0;
    width: 48px;
    min-height: 48px;
    transform: scaleY(-1);
}
.service-cont
{
    margin-bottom: 70px;
}
.service-header{
    margin-bottom: 30px;
}
.service-header h2
{
    color: var(--darkimperialblue);
}
.service-header h2 span
{
    color: var(--bluejeans);
}
.service-desc
{
    max-width: 612px;
    color: var(--GraniteGray);
}
.service-desc p
{
    font-weight: 400;
}
    .tabber-card
    {
        display: none;
    }
    .tabber-card.current
    {
        display: block;
    }
    ul.tabs li
    {
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        cursor: pointer;
    }
    ul.tabs li:not(:last-child)
    {
        margin-bottom: 16px;
    }
    li.tab-link.current
    {
        color:var(--white);
        background-color: var(--feiryrose);
    }
    .tabber
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .tabber-right {
        flex-basis: 66.052%;
        background-color: var(--white);
        border-radius: 10px;
    }
    .tabber-left {
        flex-basis: 29%;
        margin-right: 4.3%;
    }
    .tabber-num
    {
        color: var(--darkimperialblue);
    }
    .tabber-header
    {
        margin-bottom: 30px;
    }
    .tabber-desc
    {
        color: var(--GraniteGray);
        margin-bottom: 25px;
    }
    
    .tabber-header h3
    {
        color: var(--darkimperialblue);
    }
    .tabber-header h3 span
    {
        color: var(--bluejeans);
    }
    .tabber-card
    {
        max-width: 600px;
        margin: 0 auto;
        padding-top: 13px;
        padding-bottom: 70px;
    }
    .tabber-points
    {
        max-width: 420px;
        color: var(--GraniteGray);
        margin: 0 auto 20px;
    }
    .tabber-points ul li
    {
        padding-bottom: 15px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        
    }
    .tabber-points ul
    {
        columns: 2;
        -webkit-columns: 2;
    }
    .tabber-points ul li::before
    {
        content: "\2022";
        color: var(--bluejeans);
        font-weight: bold;
        display: inline-block; 
        width: 1em;
        margin-left: -1em;
        font-size: 24px;
    }
    .tabber-btn a
    {
        color: var(--feiryrose);
        transition: .3s all;
    }
    .tabber-btn a:hover
    {
        color: var(--bluejeans);
    }
    .services .mobile-view
    {
        display: none;
        border: 2px solid var(--darkimperialblue);
        padding: 10px 20px;
        margin-bottom: 0px;
        color: var(--GraniteGray);
        text-align: center;
        cursor: pointer;
        font-weight: 600;
    }
    .services .mobile-view h6
    {
        font-size: 16px;
        line-height: 22px;
    }
/* SERVICES ENDS */
/*  <!--TEAM STARTS--> */
.team
{
    margin-top: 170px;
    margin-bottom: 180px;
}
.team .content-wrapper
{
    position: relative;
    z-index: 1;
}
.team .content-wrapper::before
{
    position: absolute;
    content: "";
    z-index: 1;
    background-image: url(./images/L-shape.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 75px;
    min-height: 76px;
    top:0;
}
.team-cont 
{
    color: var(--darkimperialblue);
    max-width: 612px;
    text-transform: capitalize;
    margin-left: auto;
}
.team-body
{
    margin-bottom: 73px;
}
.team-card
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 80px;
}
.t-card-body:hover
{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.t-card-body:not(:last-child)
{
    margin-right: 2.565%;
}
.team-cont h2 
{
    padding-bottom: 30px;
}
.team-cont h2 span
{
    color: var(--bluejeans);
}
.team-cont p,.t-cont p
{
    color: var(--GraniteGray);
    font-weight: 400;
    line-height: 1.56;
}
.t-cont 
{
    text-align: center;
    margin-bottom: 45px;
    
}
.t-cont h6
{   
    padding-bottom: 20px;
    font-size: 24px;
    color: var(--darkimperialblue);
}
.t-img
{
    text-align: center;
}
.t-img img
{
    border: 4px solid var(--white);
    border-radius: 100%;
    padding: 11px;
}
.t-card-body
{
    flex-basis: 31.625%;
    background-color: var(--AliceBlue);
    border-radius: 10px;
    position: relative;
    z-index: 1;
    transition: .3s all ease-in-out;
}
.t-card-body:not(:nth-child(even))::before
{   
    content: "";
    position: absolute;
    z-index: 1;
    background-image: url(./images/L2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 22px;
    min-height: 23px;
    transform: scaleY(-1);
    top: 4px;
    left: 10px;
}
.t-card-body:not(:nth-child(even))::after{
    content: "";
    position: absolute;
    z-index: 1;
    background-image: url(./images/L2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 22px;
    min-height: 23px;
    transform: scaleX(-1);
    bottom: 4px;
    right: 10px;
}
.t-card-body:not(:nth-child(odd))::before
{   
    content: "";
    position: absolute;
    z-index: 1;
    background-image: url(./images/L2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 22px;
    min-height: 23px;
    transform: scale(-1);
    top: 4px;
    right: 10px;;
}
.t-card-body:not(:nth-child(odd))::after{
    content: "";
    position: absolute;
    z-index: 1;
    background-image: url(./images/L2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 22px;
    min-height: 23px;
    transform: scaleX(1);
    bottom: 4px;
    left: 10px;
}
.team .content-wrapper::after
{
    position: absolute;
    z-index: -1;
    content: "";
    background-image: url(./images/dots.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 180px;
    min-height: 161px;
    bottom: 17%;;
    right: -9%;
}
.tc-desc
{
    padding: 50px 30px;
}
.t-img
{
    margin-bottom: 43px;
}
.t-icon
{
    text-align: center;
}
.t-icon a
{
    color: var(--darkimperialblue);
    margin-right:35px   ;
    font-size: 23px;
    transition: .3s all ;
}
.t-icon a:hover
{
    color:var(--bluejeans);
}
.team-btn
{
    text-align: center;
}
/* <!--TEAM ENDS--> */
/*PRICES */
.pricing
{
    background-color: var(--AliceBlue);
}
.price-main
{
    padding-top: 116px;
    padding-bottom: 184px;
}
.price-contxt::before
{
    content: "";
    position: absolute;
    z-index: 1;
    background-image: url(./images/L-shape.svg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    right: 0;
    width: 88px;
    min-height: 88px;
    transform: scaleX(-1);
}
.price-contxt
{
    margin-bottom: 80px;
    position: relative;
    z-index: 1;
}
.price-cont
{
    max-width: 612px;
}
.price-contxt .price-cont h2
{
    color: var(--darkimperialblue);
    padding-bottom: 30px;
}
.price-contxt .price-cont h2 span
{
    color: var(--bluejeans);
}
.price-contxt .price-cont p{
    font-weight: 400;
    color: var(--GraniteGray);
}
.price-card
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: baseline;
}
.p-card
{
    background-color: var(--white);
    border: 1px solid var(--darkimperialblue);
    border-radius: 10px;
    flex-basis: 31.5%;
    padding: 50px 30px;
    position: relative;
    z-index: 1;
    transition: transform .3s ease-in-out;
    cursor: pointer;
}
.p-card:hover
{
    transform: scale(1.1);
}
.p-card:not(:last-child)
{
    margin-right: 2.736%;
}
.p-card:not(:nth-child(even))::before
{   
    content: "";
    position: absolute;
    z-index: 1;
    background-image: url(./images/L2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 22px;
    min-height: 23px;
    transform: scaleY(-1);
    top: 4px;
    left: 10px;
}
.p-card:not(:nth-child(even))::after{
    content: "";
    position: absolute;
    z-index: 1;
    background-image: url(./images/L2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 22px;
    min-height: 23px;
    transform: scaleX(-1);
    bottom: 4px;
    right: 10px;
}
.p-card:not(:nth-child(odd))::after{
    content: "";
    position: absolute;
    z-index: 1;
    background-image: url(./images/L2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 22px;
    min-height: 23px;
    transform: scaleX(1);
    bottom: 4px;
    left: 10px;
}
.p-card:not(:nth-child(odd))::before
{   
    content: "";
    position: absolute;
    z-index: 1;
    background-image: url(./images/L2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 22px;
    min-height: 23px;
    transform: scale(-1);
    top: 4px;
    right: 10px;;
}
.pc-img h6
{   
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.04;
    color: var(--darkimperialblue);
}
.pc-img 
{
    text-align: center;
    margin-bottom: 55px;
    position: relative;
    z-index: 1;
}
.p-card .rotate-tag
{
    position: absolute;
    left: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 159px;
    height: 145px;
    text-align: right;
}
.p-card .rotate-tag span p
{
    line-height: 1.21;
    font-weight: 600;
    color: var(--white);
    text-transform: capitalize;
    padding: 2px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: block;
    -webkit-box-shadow: 0 3px 10px -5px rgb(0 0 0);
    box-shadow: 0 3px 10px -5px rgb(0 0 0);
    top: 32px;
    left: -45px;
    position: relative;
    letter-spacing: 2px;
    width: 200px;
    background: var(--bluejeans);
    text-align: center;
}
.p-card .rotate-tag span p::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 93%;
    z-index: -1;
    border-left: 3px solid;
    border-right: 3px solid var(--bluejeans);
    border-bottom: 3px solid var(--bluejeans);
    border-top: 3px solid;
    border-left-color: var(--bluejeans);
    border-top-color: var(--bluejeans);
}
.p-card .rotate-tag span p::after {
    content: "";
    position: absolute;
    right: 24px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid var(--bluejeans);
    border-right: 3px solid;
    border-bottom: 3px solid var(--bluejeans);
    border-top: 3px var(--bluejeans);
    border-right-color: inherit;
    border-top-color: var(--bluejeans);
}
.pc-img img
{
    width: 100%;
    max-width: 87.95px;
    margin-bottom: 20px;
}
.pc-img::after
{
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    max-width: 238px;
    border: 2px solid var(--BrightGray) ;
    transform: translate(-50%,-50%);
}
.pc-cont
{
    text-align: center;
    margin-bottom: 50px;
}
.pc-cont p
{
    margin-bottom: 20px;
    font-weight: 400;
    color: var(--GraniteGray);
}
.pc-cont ul li
{
    font-size: 14px;
    line-height: 1.21;
    padding-bottom: 15px;
    color: var(--GraniteGray);
}
.pc-cont h2
{
    color: var(--darkimperialblue);
    position: relative;
}
.pc-cont h2 span
{
    font-size: 16px;
    line-height: 19px;
    position: absolute;
    top: 10px;
    transform: translate(-150%,-50%);
}
.price-btn
{
    text-align: center;
}
/* PRICES */


/* HAPPY CLIENT */

.testimonial
{
    padding: 116px 0px 150px;
}

.testimonial .our_tester .col-1 
{
    margin-left: 10px;
    margin-right: 10px;
}

.our_tester_right {
    position: relative;
    z-index: 1;
}

.our_tester .col-1_pargrap {
    background-color:var(--AliceBlue);
    max-width: 571px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
.our_tester_head {
    max-width: 612px;
   margin-left: auto;
   position: relative;
   z-index: 1;
   margin-bottom: 55px;
}

.our_tester_head h2 {
    color: var(--darkimperialblue);
    margin-bottom: 20px;
}
    .our_tester_head span{
    color: var(--bluejeans);
}
    .our_tester_head p{
    font-weight: 400;
    color: var(--black);
    line-height: 1.5;
    text-transform: capitalize;
}
.our_tester_right::before{
    content: '';
    position: absolute;
    top: -22px;
    left: 13px;
    width: 71px;
    height: 71px;
    background-image: url(./images/L-shape.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
ul.slick-dots {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
    list-style-type: circle !important;
    font-size: 24px;
    letter-spacing: 31px;
    gap: 26px;
    color: var(--SilverSands);
    margin-top: 70px;
    
}
ul.slick-dots li
{
 list-style: disc;
 font-size: 26px;
 cursor: pointer;
}
li.slick-active {
color: var(--feiryrose);
font-size: 28px !important;
}
ul li button{
    display: none;
}
.main_tester {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.col-1_pargrap p 
{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--black);
    padding: 110px 50px;
}
.img-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    margin-top: -52px;
    margin-left: 40px;
    position: relative;
    z-index: 1;
}
.img-1 img {
    border-radius: 10px;
}
.img-1 .heading {
    padding-left: 31px;
}
.img-1 .heading h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.20;
    color:var(--darkimperialblue);
    margin-bottom: 8px;
}
.img-1 .heading p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color:var(--GraniteGray);
}
.col-1_pargrap:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 9px;
    width: 21.5px;
    height: 22px;
    background-image:url(./images/L2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    transform: scaleY(-1);
}
.col-1_pargrap:after {
    content: '';
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 21.5px;
    height: 22px;
    background-image:url(./images/L2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    transform: scaleX(-1);
}
.col-1_pargrap i{
    position: absolute;
    right: 68px;
    top: 110px;
    z-index: -1;
    color:var(--white);
   font-size: 164px;
    background-repeat: no-repeat;
    background-size: cover;
}
/* HAPPY CLIENT */
/* MAPS STARTS */
.tour
{
    margin-bottom: 150px;
}
.tour .content-wrapper
{
    max-width: 1246px;
    padding: 0 20px;
    margin: 0 auto;
}
.tour-main
{
    position: relative;
    z-index: 1;
}
.tour-main::before
{
    position: absolute;
    content: "";
    z-index: 1;
    background-image: url(./images/L-shape.svg);
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
    top: 0;
    width: 100%;
    max-width: 121px;
    min-height: 122.37px;
    transform: scaleX(-1);
}
.tour-body
{
    max-width: 612px;
    text-transform: capitalize;
    margin-bottom: 80px;
}
.tour-body h2
{
    color: var(--darkimperialblue);
    padding-bottom: 30px;
}
.tour-body h2 span
{
    color: var(--bluejeans);
}
.street-view
{
    position: relative;
    z-index: 1;
}
.street-view::before
{
    position: absolute;
    content: "";
    z-index: -1;
    border: 4px solid var(--darkimperialblue);
    width: 100%;
    max-width: 644px;
    border-radius: 10px;
    top: 0;
    bottom: 0;
    right: 0;
}
.street-view::after
{
    position: absolute;
    z-index: -1;
    content: "";
    background-image: url(./images/dots.svg);
    background-repeat: no-repeat;
    background-size: cover;
    left: -4%;
    bottom: 21%;
    width: 100%;
    max-width: 180px;
    min-height: 161px;
}
.view-link
{
    padding: 40px 38px;
}
.view-link iframe
{
    width: 100%;
    max-width: 100%;
    min-height: 565px;
    border-radius: 10px;
}
/* MAPS ENDS */
/* BOOK STARTS */
    .booking
    {
        background-color: var(--AliceBlue);
    }
    .book-main
    {
        padding-top:150px;
        padding-bottom: 130px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .book-left
    {
        flex-basis: 36.5%;
        margin-right: 4.274%;
    }
    .bl-body
    {
        margin-bottom: 55px;
    }
    .bl-body h2
    {
        color: var(--darkimperialblue);
        padding-bottom: 30px;
    }
    .bl-body h2 span
    {
        color: var(--bluejeans);
    }
    .bl-body p
    {
        max-width: 400px;
        color: var(--black);
        text-transform: capitalize;
    }
   .book-icon
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    .bl-contact
    {
        margin-bottom: 50px;
    }
    .book-right
    {
        flex-basis: 57%;
        background-color: var(--white);
        border-radius: 10px;
    }
    .book-form
    {
       padding: 50px 33px;
    }
    .book-form form h6
    {
        color: var(--darkimperialblue);
        font-size: 24px;
        padding-bottom: 30px;
    }
    .book-form form input,.book-form form textarea
    {
        padding: 18px 20px;
        width: 100%;
        border-radius: 10px;
        border: 1px solid var(--SilverSands);
        margin-bottom: 20px;
        color: var(--SilverSands);
    }
    .book-form form textarea
    {
        margin-bottom: 30px;
    }
    .form-contact
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    .form-contact input
    {
        flex-basis: 48%;
    }
    .form-contact input:not(:nth-child(even))
    {
        margin-right: 3.33%;
    }
    .book-btn
    {
        text-align: center;
    }
/* BOOK ENDS */

@media(min-width:1600px) and (max-width:1980px)
{
    .social-icon {
    left: 5%;
    }
}

/* MEDIA QUERY 1600 */
@media(max-width:1500px){
    .banner-body {
        margin-left: 50px;
    }
}


@media(max-width:1600px)
{
    /* ABOUT US */
    .equipment-card::after
    {
        max-width: 897px;
    }
    /* ABOUT US */
    /* SERVICES */
    .services::before {
        width: 86.5%;
    }
    /* SERVICES */
}
/* MEDIA QUERY 1600 */
@media(min-width:768px) 
{
    .services .tabs{
        display: block !important;
        height: auto !important;
    }
}
/* MEDIA QUERY 1024 */
@media (max-width:1024px)
{
    .social-icon {
        bottom: 40%;
        margin-left: 0px;
    }
    .banner-btn-two .trans-btn, .banner-btn-one .pink-btn{
 
        padding: 20.77px 15.84px 20.77px 15.3px
    }
    .banner-heading h1
    {
    font-size:62px;
    line-height:80px;
    }
    .banner-card 
    {
    padding-top: 18px;
        padding-bottom: 20px;
    }
    .banner-body 
    {
        padding-top: 70px;
        padding-bottom: 70px;
        margin-left: 50px;
    }
    .icon-btn i 
    {
        font-size: 20px;
    }
    .tele-num p, .clock-time p, .loc-desc p 
    {
        line-height: 16px;
        font-size:14px;
    }
    .banner-time 
    {
        bottom: -100px;
    }
    .tele-icon .icon-btn , .clock-icon .icon-btn , .loc-icon .icon-btn 
    {
        padding: 8px 10px;
    }
    .tele-num p:nth-child(2),.clock-time p:nth-child(2)
    {
        font-size: 13px;
    }
    /* ABOUT US */
    .about-us-left {
        flex-basis: 46%;
        margin-right: 7.85%;
    }
    .about-us-heading::before
    {
        left:210%
    }
    .about-us-cont::before
    {
        top:160%
    }
    .about-us-heading h2 {
        font-size: 56px;
    }
    .about-us-right {
        background-size: contain;
        min-height: 510.37px;
        flex-basis: 50.895%;
        margin-top: 93px;
        margin-right: 0;
        margin-bottom: -290px;
    }
    .equpiment-body {
        padding: 40px 0 60px;
        margin-left: 6.838%;
    }
    .equipment-cont {
        max-width: 306px;
    }
    .equipment-card::after {
        max-width: 645px;
    }
    .equipment-card::before {
            right: 52.7%;
            top: 7%;
    }
    .equipment-card .content-wrapper::after
    {
        content:none;
    }

    /* ABOUT US */
    /* WHY US */
    .why-us {
        margin-bottom: 100px;
    }
    .whyus-left {
    flex-basis: 19.907%;
    }
    .whyus-header h5 {
        font-size: 36px;
    }
    .whyus-right {
        flex-basis: 78.4%;
    }
    .whyus-cards {
        margin-bottom: 15px;
    }
    .wu-card {
        flex-basis: 22.2%;
    }
    .wu-body {
        max-width: 120px;
        margin: 0 auto;
        padding: 15px 0px;
    }
    .wuc-header, .wucb-header {
        margin-bottom: 10px;
    }
    .wuc-body {
        padding-top: 25px;
        padding-bottom: 20px;
    }
    .pink-btn-two {
    padding: 16px 24px;
    }
    .wucb-btn::before
    {
        content: none;
    }
    .wuc-header h6
    {
        font-size: 18px;
    }
    /* WHY US */
    /* SERVICES */
    .services .content-wrapper {
        padding-top: 100px;
            padding-bottom: 100px;
        }
        .service-cont {
            margin-bottom: 50px;
        }
        .service-header {
            margin-bottom: 20px;
        }
        .service-header h2 {
        font-size: 50px;
        }
        .tabber-left {
            flex-basis: 30%;
            margin-right: 4.3%;
        }
        .tabber-right {
            flex-basis: 65.7%;
        }
        ul.tabs li {
            font-size: 16px;
        }
        .tab-btn {
            padding: 16px;
        }
        
        .tabber-card {
            max-width: 420px;
            padding-top: 15px;
            padding-bottom: 25px;
        }
        .tabber-num h4 {
            font-size: 95px;
            line-height: 115px;
        }
        .tabber-header h3 {
            font-weight: 600;
            font-size: 24px;
            line-height: 40px;
        }
        .tabber-points {
            max-width: 350px;
        }
        .tabber-btn a {
            font-size: 14px;
        }
        .services::before {
            width: 100%;
        }
        
    /* SERVICES */

    /* TEAMS */
    .team {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .team .content-wrapper::before {
        max-width: 65px;
        min-height: 65px;
    }
    .team-body {
        margin-bottom: 56px;
    }
    .team-cont h2 {
        padding-bottom: 20px;
        font-size: 50px;
        line-height: 63px;
    }
    .team-card {
        margin-bottom: 50px;
    }
    .t-card-body {
        flex-basis: 31.62%;
    }
    .tc-desc {
        padding: 20px 15px;
    }
    .t-img {
        margin-bottom: 25px;
    }
    .t-img img {
        padding: 5px;
        min-height: 200px;
        width: 100%;
        max-width: 200px;
    }
    .t-cont {
        margin-bottom: 25px;
    }
    .t-cont h6 {
        padding-bottom: 15px;
        font-size: 20px;
    }
    .t-cont p {
        font-size: 14px;
    }
    .t-icon a {
        margin-right: 20px;
        font-size: 18px;
    }
    .team .content-wrapper::after {
        max-width: 165px;
        min-height: 147px;
        bottom: 2%;
        right: 1%;
    }
    /* TEAMS */

    /* PRICES */
    .price-main {
        padding-top: 85px;
        padding-bottom: 100px;
    }
    .price-contxt {
        margin-bottom: 65px;
    }
    .price-contxt::before {
        width: 70px;
        min-height: 70px;
    }
    .price-contxt .price-cont h2 {
        padding-bottom: 20px;
        font-size: 50px;
        line-height: 63px;
    }
    .p-card {
        flex-basis: 31.5%;
        padding: 15px;
    }
    .pc-img {
        margin-bottom: 35px;
    }
    .pc-img h6 {
        padding-bottom: 20px;
        font-size: 24px;
    }
    .pc-cont {
        margin-bottom: 25px;
    }
    .pc-cont h2 {
        font-size: 52px;
        line-height: 63px;
    }
    .pink-btn {
        padding: 12px 10px;
    }
    .price-btn a
    {
        font-size:14px
    }
    
    .pc-cont h2 span {
        font-size: 18px;
    }
    /* PRICES */
    /* HAPPY CLIENTS */
    .testimonial {
        padding: 85px 0px 90px;
    }
    .our_tester_head {
    margin-bottom:35px
    }
    .our_tester_head h2 {
        font-size: 55px;
    }
    .col-1_pargrap p {
    font-size: 16px;
    padding: 50px;
    }
    .col-1_pargrap i {
        right: 22px;
        top: 88px;
        font-size: 100px;
    }
    .img-1 .heading h2 {
        font-size: 20px;
    }
    /* HAPPY CLIENTS */
}
/* MEDIA QUERY 1024 */
/* MEDIA QUERY 900 */
@media (max-width:900px)
{
    .wu-card {
        flex-basis: 48%;
        margin-bottom: 15px;
    }
    .wu-body {
        max-width: none;
        margin: 0;
        padding: 20px;
    }
    .wu-card:not(:last-child) {
    margin-right: 0;
    }
    .wu-card:not(:nth-child(even)) {
        margin-right: 3.65%;
    }
    .wu-card:hover
{
    transform: translateY(0);
}
}
/* MEDAIA QUERY 900 */
/* MEDIA QUERY 767 */
@media (max-width:767px)
{
    .social-icon {
        bottom: 50%;
    }        
    .banner-btn-two .trans-btn, .banner-btn-one .pink-btn
    {
        padding: 15.77px 15.84px 15.38px 15.3px;
    }
    .banner::before 
    {
        width:100%
    }
    .banner
    {
    margin-bottom:100px
    }
    .banner-body {
        padding-top: 40px;
        padding-bottom: 0px;
    }
    .banner-time-card {
         display: block;
    }
    .banner-card:not(:last-child) {
        margin-right:0;
        margin-bottom: 15px;
    }
    .banner-time {
        position: relative;
        bottom: 0;
        transform: translate(0%, 20%);
    }
    .banner-heading h1
    {
        line-height:85px
    }
/*ABOUT US*/
.about-us-card
{
    display: block;
}
.about-us-left
{
    margin-right:0 ;
}
.about-us-heading,.about-us-cont
{
    text-align: center;
}
.about-us-heading h2
{   
    padding-left: 0;
}
.about-us-cont 
{
    max-width: 100%;
}
.about-us-right
{
    margin: 0;
    background-position: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.about-us-heading, .about-us-cont {
    text-align: center;
}
.about-us-heading::before {
    background-size: contain;
    min-height: 40px;
    width: 40px;
    top: 192%;
    bottom: 0;
    left: 92%;
}
.about-us-cont::before {
    top: 105%;
    left: 0;
    background-size: contain;
    width: 40px;
    height: 40px; 
}
.equipment-card::before {
    right: 20px;
    top: 7%;
}
.equipment-heading {
    max-width:none;
    text-align: center;
    margin-bottom: 25.24px;
}
.equipment-cont {
    max-width: none;
    text-align: center;
}
.equipment-cont p{
    font-size: 14px;
    line-height: 22px;
    }
.equipment-card::after {
    max-width: 100%;
}
.equipment-card .content-wrapper::before {
bottom: 4px;
}
.equpiment-body {
    padding: 40px 0 40px;
    margin-left: 0;
}
/*ABOUT US*/
/* WHY US */
.whyus-body{
    display: block;
}
.whyus-header {
    margin-left: 0;
    writing-mode:horizontal-tb;
    transform: scale(1);
    padding-bottom: 40px;
    padding-top: 40px;
}
.whyus-header h5 {
        font-size: 40px;
}
.whyus-header::before {
    content:none;
}
.whyus-left {
    margin-right: 0; 
    margin-bottom: 20px;
}
.wu-card {
    flex-basis: 47.9%;
    margin-bottom: 20px;
}
.whyus-cards {
    margin-bottom: 40px;
}
.wuc-header h6 {
    font-size: 20px;
}
.why-us {
    margin-bottom: 50px;
}
.wuc-body {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
}
.wu-body {
    max-width: 100%;
    margin: 0;
    padding: 40px 15px;
}
.whyus-cont::before {
left: -10px;
}
.wu-card:not(:last-child) 
{
    margin-right: 0;
}
.wu-card:not(:nth-child(even))
{
    margin-right: 4.128%
} 
/* WHY US */
/* SERVICES */
.tabber
{
    display: block;
}
.tabber-left{
    margin-right: 0%;
}
.tabber-right {
    margin-top: 20px;
    }
    .tabber-card {
        max-width: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
        padding: 20px;
        margin: 0;
    }
    .tabber-header {
        margin-bottom: 20px;
    }
    .tabber-points {
        max-width: 420px;
    }
    ul.tabs li {
    text-align: center;
    
    }
    li.tab-link.current {
        color: var(--white);
        background-color: var(--bluejeans);
    }
    .tab-btn{
        border-radius: 0 !important;
        border: none !important;
        display: block !important;
        padding: 16px 0px !important;
    }
    .service-body::before {
        top: -50px;
        right: 0;
        width: 80px;
        min-height: 80px;
        }
        .services::before {
            width: 100%;
        }
        .service-header h2 {
            font-size: 42px;
        }
        .tabber-points {
            max-width: 350px;
            margin-left: 15px;
        }
        ul.tabs li {
            text-align: center;
            color: var(--GraniteGray);
        }
        ul.tabs li:not(:last-child) {
            margin-bottom: 0;
        }
        .services ul.tabs {
            border: 2px solid var(--darkimperialblue);
            background: #fff;
            opacity: .9;
            left: 0;
            right: 0;
            display: none;
            position: absolute;
            z-index: 1;
        }
        .services .mobile-view {
            display: block;
            position: relative;
            z-index: 1;
        }
        .tabber-points ul li::before {
            width: 20px;
            margin-left: -15px;
        }
/* SERVICES */
/* TEAMS */
.team {
    margin-top: 80px;
    margin-bottom: 80px;
}
.team .content-wrapper::before {
    max-width: 60px;
    min-height: 60px;
    top: -10px;
}
.team-body {
    margin-bottom: 45px;
}
.team-cont {
    max-width: 100%;
    margin-left: 0;
    margin: 0;
    text-align: center;
}
.team-cont h2 {
    font-size:40px;
    line-height: 60px;
}
.team-cont p{
font-size: 14px;
}
.team-card {
    display: block;
    margin-bottom: 50px;
}
.t-card-body:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
}
.t-card-body {
    display: block;
}
.tc-desc {
    padding: 30px 20px;
}
.t-img {
    margin-bottom: 25px;
}
.t-img img {
    padding: 10px;
    min-height: 200px;
    width: 100%;
    max-width: 240px;
}
.t-cont {
    margin-bottom: 30px;
}
.t-cont h6 {
    padding-bottom: 20px;
    font-size: 28px;
}
.t-cont p {
    font-size: 15px;
}
.t-icon a {
    margin-right: 25px;
    font-size: 20px;
}
.team .content-wrapper::after {
    max-width: 165px;
    min-height: 147px;
    bottom: 0%;
    right: 10%;
}
/* TEAMS */
/* PRICES */
.price-contxt .price-cont h2 {
    padding-bottom: 12px;
    font-size: 45px;
    line-height: 60px;
}
.price-contxt {
    margin-bottom: 55px;
}
.pc-cont h2 {
    font-size: 65px;
    line-height: 63px;
}
.price-btn a {
    font-size: 16px;
}
.pink-btn {
    padding: 18px 20px;
}
.p-card:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
}
.pc-cont ul li {
    font-size: 16px;
}
.price-contxt::before {
    top: -30px;
    }
.p-card {
    
    padding: 50px;
}
.price-card {
    display: block;
}
.pc-img h6 {
    padding-bottom: 25px;
    font-size: 28px;
}
.pc-img::after {
    width: 100%;
    max-width: 100%;
}
.p-card:hover{
    transform: scale(1);
}
/* PRICES */
/* HAPPY CLIENT */
.our_tester_right::before {
    width: 58px;
    height: 58px;
}
.our_tester_head h2 {
    font-size: 36px;
    text-align: center;
}
.our_tester_head {
    margin-bottom: 25px;
}
.our_tester .col-1_pargrap {
margin-top: 10px;
}
.img-1 {
    margin-top: -40px;
}
.our_tester_head p {
    text-align: center;
}
/* HAPPY CLIENT */

/* MAPS */
.tour {
    margin-bottom: 80px;
}
.tour-main::before {
	top: -45px;
    max-width: 75px;
    min-height: 75.37px;
}
.tour-body {
    max-width: 100%;
    margin-bottom: 55px;
    text-align: center;
}
.tour-body h2 {
    color: var(--darkimperialblue);
    padding-bottom: 20px;
	font-size: 50px;
}
.tour-body p {
font-size: 16px;
}
.street-view::before {
    
    content: none;
}
.view-link {
    padding: 30px;
}
.view-link iframe {
    max-width: 100%;
    min-height: 450px;
}
.street-view::after {
    left: -1%;
    bottom: 13%;
    width: 100%;
    max-width: 120px;
    min-height: 119px;
}
/* MAPS */
}
/* MEDIA QUERY 767 */
/* MEDIA QUERY 600 */
@media (max-width:591px)
{
    .about-us-heading::before {
        top: 227%;
    }
}
/* MEDIA QUERY 600 */
/* MEDIA QUERY 480 */
@media (max-width:480px)
{
    .banner-body {
        padding-top: 50px;
        padding-bottom: 0px
    }
    .banner-heading h1 {
        line-height: 60px;
        font-size: 42px;
    }
    .banner-cont {
        margin-bottom: 30px;
    }
    .banner-cont p
    {
    font-size: 18px;
    }
    .banner::before 
    {
        width:100%
    }
    .banner-btn-two .trans-btn, .banner-btn-one .pink-btn {
        padding: 15.77px 15.84px 15.38px 15.3px;
    }
    .banner-time-card {
        display: block;
   }
   .banner-card:not(:last-child) {
       margin-right:0;
       margin-bottom: 15px;
   }
   .banner-time {
       position: relative;
       bottom: 0;
       transform: translate(0%, 20%);
   }
    .tele-icon, .clock-icon, .loc-icon {
        margin-right: 6.25%;
    }
    .tele-num p, .clock-time p, .loc-desc p {
        line-height: 19px;
        font-size: 13.5px;
    }
    .tele-num p:nth-child(2), .clock-time p:nth-child(2) {
        font-size: 12px;
        margin-top: 4px;
    }
    .banner-btn 
    {
        display: block;
    }
    .banner-btn-one {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .about-us-right {
        min-height: 395.37px;
    }
    .equipment-heading {
        margin-bottom: 20px;
    }
    .about-us-cont::before
    {
        content: none;
    }
    .about-us-heading::before
    {
        content: none;
    }
    .equipment-card .content-wrapper::before {
        bottom: 25px;
        left: 15px;
    }
    .equipment-card {
        margin-bottom: 70px;
    }
    /* WHY US */
    .why-us {
        margin-bottom: 50px;
    }
    .whyus-header {
    padding-bottom: 30px;
        padding-top: 30px;
    }
    .whyus-header h5 {
        font-size: 30px;
    }
    .wu-card:not(:nth-child(even)) {
        margin-right: 3.9%;
    }
    .wu-body {
        max-width: 100%;
        margin: 0;
        padding: 10px;
    }
    .wucb-btn {
      
        text-align: center;
    }
    .pink-btn-two {
    padding: 14px 15px;
    }
    .wuc-header h6 {
        font-size: 18px;
    }
    /* WHY US */
    /* SERVICES */
    .services .content-wrapper {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .service-body::before {
        top: -50px;
        right: 0;
        width: 65px;
        min-height: 65px;
    }
    .service-cont {
        margin-bottom: 30px;
    }
    .service-header {
        margin-bottom: 20px;
    }
    .service-header h2 {
        font-size: 34px;
    line-height: 56px;
    }
    .service-desc p {
       font-size: 14px;
        line-height: 24px;
    }
    .services .mobile-view {
    margin-bottom: 10px;
    }
    .tab-btn {
        padding: 10px 0px;
    }
    .tabber-right {
        margin-top: 20px;
    }
    .tabber-num h4 {
        font-size: 75px;
        line-height: 90px;
    }
    .tabber-header {
        margin-bottom: 20px;
    }
    .tabber-header h3 {
        font-size: 20px;
        line-height: 25px;
    }
    .tabber-desc {
        margin-bottom: 25px;
    }
    .tabber-desc p
    {
        font-size: 14px;
        line-height: 24px;
    }
    .tabber-points {
        max-width: 100%;
    }
    .tabber-points ul li::before {
        width: 16px;
        margin-left: -14px;
        font-size: 16px;
    }
    .tabber-points ul li {
        font-size: 13px;
    }
    /* SERVICES */
    /* TEAMS */
    .team {
        margin-top: 80px;
        margin-bottom: 60px;
    }
    .team .content-wrapper::before {
        max-width: 60px;
        min-height: 60px;
        top: -55px;
    }
    .team-cont h2 {
        font-size: 30px;
        line-height: 42px;
    }
    .team-cont p {
        font-size: 14px;
    }
    .t-cont p {
        font-size: 14px;
    }
    .t-cont h6 {
        padding-bottom: 15px;
        font-size: 26px;
    }
    .t-icon a {
        margin-right: 25px;
        font-size: 20px;
    }
    .team .content-wrapper::after {
        max-width: 135px;
        min-height: 120px;
        bottom: 0%;
        right: 10%;
    }
    /* TEAMS */
    /* PRICES */
    .price-main {
        padding-top: 75px;
        padding-bottom: 80px;
    }
    .price-contxt {
        margin-bottom: 40px;
    }
    .price-contxt::before {
        width: 55px;
        min-height: 55px;
    }
    .price-contxt .price-cont h2 {
        font-size: 30px;
        line-height: 39px;
    }
    .price-contxt .price-cont p {
        font-size: 14px;
    }
    .pc-img {
        margin-bottom: 30px;
    }
    .pc-img img {
        width: 100%;
        max-width: 65.95px;
        margin-bottom: 15px;
    }
    .pc-cont {
        margin-bottom: 25px;
    }
    .pc-cont p {
        margin-bottom: 20px;
        font-size:14px
    }
    .pc-cont ul li {
        font-size: 14px;
    }
    .pc-cont h2 {
        font-size: 55px;
        line-height: 50px;
    }
    .price-btn a {
        font-size: 14px;
    }
    .pink-btn {
        padding: 16px 12px;
    }
    /* PRICES */
    /* HAPPY CLIENT */
    .testimonial {
        padding: 60px 0px 60px;
    }
    .our_tester_right::before {
        width: 58px;
        height: 58px;
    }
    .our_tester_head h2 {
        font-size: 28px;
        text-align: center;
        line-height: 50px;
    }
    .our_tester_head p {
        text-align: center;
        font-size: 14px;
    }
    .our_tester_head {
        margin-bottom: 25px;
    }
    .our_tester .col-1_pargrap {
        margin-top: 10px;
    }
    .col-1_pargrap p {
        font-size: 14px;
        padding: 35px;
    }
    .col-1_pargrap i {
        font-size: 70px;
    }
    .img-1 {
        margin-top: -20px;
        margin-left: 55px;
    }
    .img-1 .heading {
        padding-left: 10px;
        padding-top: 10px;
    }
    .img-1 .heading h2 {
        font-size: 18px;
    }
    .img-1 .heading p {
        font-size: 14px;
    }
    ul.slick-dots {
        margin-top: 35px;
    }
    .our_tester_right::before {
        left: 0;
        top: -40px;
    }
    /* HAPPY CLIENT */

    /* MAPS */
    .tour {
        margin-bottom: 80px;
    }
    .tour-main::before {
        top: -35px;
        max-width: 50px;
        min-height: 50.37px;
    }
    .tour-body {
    margin-bottom: 35px;
    }
    .tour-body h2 {
        padding-bottom: 10px;
        font-size: 36px;
        line-height: 60px;
    }
    .tour-body p {
        font-size: 14px;
    }
    .view-link {
        padding: 0;
    }
    .street-view::after {
        left: -4%;
        bottom: -10%;
        width: 100%;
        max-width: 120px;
        min-height: 119px;
    }
    .street-view::before {
    content: none;
    }
    /* MAPS */
}
/* MEDIA QUERY 480 */
